
.chatBtn{
  position:fixed;
  background-color: green;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  
}

.popupBox{
  /* border: 2px solid green; */
  /* width: 160px; */
  /* position: absolute; */
  background:white;
  /* bottom: 30px;
  right: 0px; */
  margin:20px;
  height: 90vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 20px;
  
}
.header{
  display:flex;
  justify-content:space-between;
  height:30px;
}
.name{
  padding:10px;
  margin:10px 0px 10px 0px;
  width:150px;
  height:20px;
}
.messageForm{
  /* position:absolute;  */
  /* bottom:-100px; */
  width:300px;
  height:300px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  
}

.formBtn{
  display:flex;
  flex-direction:row; 
  width:40px;
  height:40px;
  position:absolute;
  /* bottom:150px;
  right:85px; */
 /* margin:0px 40px 0 40px; */
}

.messageInput,.submitBtn{
  padding:10px;
}


.popupButton{
  display:flex;
  gap:5px;
  justify-content: space-around;
} 








/* Style for the form container
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for input and textarea labels *
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input and textarea fields *
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

/* Style for the submit button *
button[type="submit"] {
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* Add some spacing between elements *
br {
  line-height: 0;
}

/* Style for the form container *
div {
  margin-top: 20px;
} */

